body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:198px;
}
#u228 {
  position:absolute;
  left:192px;
  top:184px;
  width:198px;
  height:198px;
}
#u229 {
  position:absolute;
  left:2px;
  top:91px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:191px;
  top:183px;
  width:100px;
  height:200px;
  overflow:hidden;
}
#u230_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u230_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u232 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:291px;
  top:183px;
  width:100px;
  height:200px;
  overflow:hidden;
}
#u233_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u233_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u235 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u236 {
  position:absolute;
  left:296px;
  top:430px;
  width:140px;
  height:40px;
}
#u237 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u238 {
  position:absolute;
  left:146px;
  top:430px;
  width:140px;
  height:40px;
}
#u239 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u240 {
  position:absolute;
  left:191px;
  top:183px;
  width:200px;
  height:200px;
}
#u241 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u242 {
  position:absolute;
  left:201px;
  top:193px;
  width:180px;
  height:180px;
}
#u243 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u244 {
  position:absolute;
  left:230px;
  top:272px;
  width:44px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u246 {
  position:absolute;
  left:279px;
  top:272px;
  width:11px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
