body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(30, 35, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  position:absolute;
  left:100px;
  top:100px;
  width:300px;
  height:300px;
}
#u202 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u203 {
  position:absolute;
  left:210px;
  top:210px;
  width:80px;
  height:80px;
}
#u204 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u205 {
  position:absolute;
  left:210px;
  top:210px;
  width:80px;
  height:80px;
}
#u206 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u207 {
  position:absolute;
  left:210px;
  top:210px;
  width:80px;
  height:80px;
}
#u208 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:90px;
  height:90px;
}
#u210 {
  position:absolute;
  left:210px;
  top:210px;
  width:80px;
  height:80px;
}
#u211 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u212 {
  position:absolute;
  left:225px;
  top:225px;
  width:50px;
  height:50px;
}
#u213 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
