body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:558px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(44, 95, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  position:absolute;
  left:241px;
  top:118px;
  width:300px;
  height:300px;
}
#u187 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:319px;
  height:5px;
}
#u188 {
  position:absolute;
  left:233px;
  top:267px;
  width:316px;
  height:2px;
}
#u189 {
  position:absolute;
  left:2px;
  top:-7px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u190 {
  position:absolute;
  left:144px;
  top:118px;
  width:11px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:100px;
  top:218px;
  width:100px;
  height:100px;
  overflow:hidden;
}
#u192_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u192_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u192_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u192_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u193 {
  position:absolute;
  left:226px;
  top:385px;
  width:50px;
  height:50px;
}
#u194 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u195 {
  position:absolute;
  left:226px;
  top:100px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u196 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u197 {
  position:absolute;
  left:508px;
  top:100px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u198 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u199 {
  position:absolute;
  left:508px;
  top:385px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u200 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
