body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:962px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  position:absolute;
  left:100px;
  top:219px;
  width:440px;
  height:200px;
}
#u165 {
  position:absolute;
  left:2px;
  top:92px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:-webkit-linear-gradient(270deg, rgba(45, 232, 193, 1) 0%, rgba(45, 232, 193, 1) 0%, rgba(51, 51, 255, 1) 100%, rgba(51, 51, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(45, 232, 193, 1) 0%, rgba(45, 232, 193, 1) 0%, rgba(51, 51, 255, 1) 100%, rgba(51, 51, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(45, 232, 193, 1) 0%, rgba(45, 232, 193, 1) 0%, rgba(51, 51, 255, 1) 100%, rgba(51, 51, 255, 1) 100%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
  color:#FFFFFF;
}
#u166 {
  position:absolute;
  left:120px;
  top:229px;
  width:120px;
  height:180px;
  font-size:48px;
  color:#FFFFFF;
}
#u167 {
  position:absolute;
  left:2px;
  top:62px;
  width:116px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:-webkit-linear-gradient(270deg, rgba(45, 232, 193, 1) 0%, rgba(45, 232, 193, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(45, 232, 193, 1) 0%, rgba(45, 232, 193, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(45, 232, 193, 1) 0%, rgba(45, 232, 193, 1) 0%, rgba(51, 102, 204, 1) 100%, rgba(51, 102, 204, 1) 100%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
  color:#FFFFFF;
}
#u168 {
  position:absolute;
  left:260px;
  top:229px;
  width:120px;
  height:180px;
  font-size:48px;
  color:#FFFFFF;
}
#u169 {
  position:absolute;
  left:2px;
  top:62px;
  width:116px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:-webkit-linear-gradient(270deg, rgba(63, 255, 130, 1) 0%, rgba(63, 255, 130, 1) 0%, rgba(51, 204, 255, 1) 100%, rgba(51, 204, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(63, 255, 130, 1) 0%, rgba(63, 255, 130, 1) 0%, rgba(51, 204, 255, 1) 100%, rgba(51, 204, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(63, 255, 130, 1) 0%, rgba(63, 255, 130, 1) 0%, rgba(51, 204, 255, 1) 100%, rgba(51, 204, 255, 1) 100%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
  color:#FFFFFF;
}
#u170 {
  position:absolute;
  left:400px;
  top:230px;
  width:120px;
  height:180px;
  font-size:48px;
  color:#FFFFFF;
}
#u171 {
  position:absolute;
  left:2px;
  top:62px;
  width:116px;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u172 {
  position:absolute;
  left:100px;
  top:100px;
  width:29px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u174 {
  position:absolute;
  left:139px;
  top:100px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u176 {
  position:absolute;
  left:100px;
  top:126px;
  width:30px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u178 {
  position:absolute;
  left:139px;
  top:126px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u180 {
  position:absolute;
  left:100px;
  top:152px;
  width:30px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u182 {
  position:absolute;
  left:139px;
  top:152px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:left;
}
#u184 {
  position:absolute;
  left:592px;
  top:246px;
  width:370px;
  height:64px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:left;
}
#u185 {
  position:absolute;
  left:2px;
  top:9px;
  width:366px;
  word-wrap:break-word;
}
